!!!
%html
	%head
		%title CAS User Management
		= stylesheet_link_tag :all
		= javascript_include_tag :defaults
		= csrf_meta_tag
	%body
		.container_12
			.grid_8.prefix_2
				- if flash[:notice]
					%p.flash-notice= flash[:notice]
				- if flash[:warning]
					%p.flash-warning= flash[:warning]
				= yield
          
